.printable-proposal {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  color: #111827;
}

.printable-proposal__block {
  margin-top: 1.5rem;
}

.printable-proposal__block:first-of-type {
  margin-top: 0;
}

.proposal-consumer-units {
  display: block;
}

.proposal-consumer-units__title,
.proposal-consumer-units__subtitle {
  font-weight: 600;
  color: #111827;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 0;
}

.proposal-consumer-units__generator {
  margin: 0.5rem 0 0;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #374151;
}

.proposal-consumer-units__subtitle {
  margin-top: 1rem;
}

.proposal-consumer-units__list {
  margin: 0.5rem 0 0;
  padding-left: 1.25rem;
  list-style: disc;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #374151;
}

.proposal-consumer-units__item {
  margin-bottom: 0.5rem;
}

.proposal-consumer-units__item:last-child {
  margin-bottom: 0;
}

@media print {
  .printable-proposal {
    background: transparent;
  }
}
